.mr-1{
    margin-right: 5px !important;
}

.mr-2{
    margin-right: 10px !important;
}
.mr-3{
    margin-right: 15px !important;
}

.mt-2{
    margin-top: 10px !important;
}

.mt-3{
    margin-top: 15px !important;
}

.mt-5{
    margin-top: 25px !important;
}

.py-6{
    padding-bottom: 40px !important;
}